{% extends 'base.html' %}

{% block content %} 
<br>
<div id="contact">  
    
<div class="middle-content"> 
<h2><span style="color: #4a4a48;">Ready to revolutionize your practices with </span> pioneering technology?</h2>
</div> 

<!-- <H3>Contact Us</H3> -->
<div class="footer-tabs">
<div class="footer-tab">
    <h5>Info</h5>
    <div class="footer-tab-items">

    <a href="#home">HOME</a>
    <a href="#technology">TECHNOLOGY</a>
    <a href="#services">SERVICES</a>
    </div>
</div>
<div class="footer-tab">
    <h5>Connect</h5>
    <div class="footer-tab-items">

    <a href="#">TWITTER</a>
    <a href="#">LINKEDLN</a>
    <a href="#">CONTACT</a>
    </div>
</div>
    <div class="footer-tab">
        <h5>Products</h5>
        <div class="footer-tab-items">
    
        <a href="#">AR apps</a>
        <a href="#">Kiosk based AR </a>
        <a href="#">Web AR</a>
        </div>
</div>
</div>
<br />
<div class="copyright">
    <p>&#169; Tebuchet 2021</p><br />
</div>
</div>
 <style>
.middle-content
{
    /*margin-top: 5%;*/
    /*padding: 5% ;*/
    /*Ivade padding koduthapo space koodit und*/
    text-align: center;
    /*display: flex;/*middle content--means text anu**/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    
}

.footer-tabs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 50px 0 100px 0;
}
.footer-tab-items {
    display: flex;
    flex-direction: column;
}
.footer-tab {
    width:40%;
    padding:10%;
}
.footer-tab-items a {
    
    cursor: pointer;
    color: grey;
    text-decoration: none;
    padding: 8px 0;
}
.footer-tab-items a:hover
{
    color: white;
}
.copyright
{
text-align: center;
}

@media only screen and (max-width: 670px) {

.footer-tab
{
    width:20%;
    /*margin: 20%;*/
    /*padding:10px;*/
}
.footer-tab-items{
    display: flex;
}
.footer-tab-items a {
    font-size: 15px;
}
}
 </style>
    {% endblock%}

    