<link href="{{ url_for('static', filename='css/service.css') }}" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">


<div class="service" id="services">
    <div class="service-head">
        <p>Services</p>
        <br>
        <div class="service-head-pborder"></div>
        <h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        </h2><br>
    </div>
    <div class="service-cards">
        <div class="service-card">
            <div class="service-card-icon service-card-icon-1">&lt; /&gt;</div>
            <b>Solution</b>
            <h3>Web based solution</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam.
            </p>
        </div>
        <div class="service-card">
            <div class="service-card-icon service-card-icon-2">{ &nbsp; }</div>
            <b>Solution</b>
            <h3>App based solution</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam.
            </p>
        </div>
        <div class="service-card">
            <div class="service-card-icon service-card-icon-3">{ &nbsp; }</div>
            <b>Name</b>
            <h3>One Line description</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam. 
               
            </p>
        </div>
        <div class="service-card">
            <div class="service-card-icon service-card-icon-4">&lt; /&gt;</div>
            <b>Name</b>
            <h3>One Line description</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam.
            </p>
        </div>
    </div>
</div>