<link href="{{ url_for('static', filename='css/service.css') }}" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">


<div class="service" id="services">
    <div class="service-head">
        <h2>Services</h2>
        <br>
        <div class="service-head-pborder"></div>
        <p>
            We allow customers to see a three-dimensional image of the product in their environment, evaluate its appearance in full size, try on how this object will look in the room, and more.
        </p><br>
    </div>
    <div class="service-cards">
        <div class="service-card">
            <div class="service-card-icon service-card-icon-1">&lt; /&gt;</div>
            <h3>Interactive Conferences</h3>
            <br>
            <p>
                We help you connect virtually with your business and all kinds of conferences. 
                
            </p>
        </div>
        <div class="service-card">
            <div class="service-card-icon service-card-icon-2">{ &nbsp; }</div>
            
            <h3>AR apps</h3>
            <br>
            <p>
                We make AR applications suitable for both android and ios platforms to have a real world experience
            </p>
        </div>
        <div class="service-card">
            <div class="service-card-icon service-card-icon-3">{ &nbsp; }</div>
            
            <h3>Web AR</h3>
            <br>
            <p>
                We make real-time AR, web applications portable for all kinds of devices.
            </p>
        </div>
        <div class="service-card">
            <div class="service-card-icon service-card-icon-4">&lt; /&gt;</div>
            
            <h3>Kiosk based AR</h3>
            <br>
            <p>
                We help make interactive shopping possible in realtime with AR.
            </p>
        </div>
    </div>
</div>