<link href="{{ url_for('static', filename='css/technology.css') }}" rel="stylesheet" />
<div class="tech" id="tech">
    <div class="tech-head">
        <h3>Try clothing on yourself, in real time ?</h3>
        <h1>We made it possible !</h1>
        <p>with Augmented Reality</p>
    </div>
    <!-- <div class="tech-body"> -->
        <div class="tech-boxes">
            <div class="tech-box tech-box-1">
                3D mesh of foot is created using in-house SAR-V algorithm
            </div>
            <div class="tech-box tech-box-2">
                SAR-V is computationally inexpensive and can run on low end devices
            </div>
            <div class="tech-box tech-box-3">
                Multi Cam support for enhanced kiosk experience
            </div>
        <!-- </div> -->
    </div>
   <br>
  
   
</div>
<div style="color: green; text-align: center; padding: 20px 10px;">
    <h3>“Simply put, we believe augmented reality is going to change the way we use technology forever. We’re already seeing things that will transform the way you work, play, connect and learn.” —Tim Cook</h3>
<br>
<br>
</div>

<!--<div class="quote-one-line">
    <h3>"<span style="color: white;"">Augmented reality</span> will be the biggest technological revolution that happens in our lifetimes"</h3>
</div>
-->

